/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Avenir, sans-sans-serif;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-end {
  align-items: flex-end;
  display: flex;
}
.calc-container {
  width: 410px;
  background-color: #eb5e55;
  padding: 15px;
  margin-top: 50px;
  border-radius: 10px;
}
button {
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 100px;
  margin: 10px;
  background-color: #faf5f5;
  box-shadow: 5px 5px #3b4249;
}
.display-value {
  width: 250px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
  border-radius: 5px;
  margin: 0 10px;
  padding: 0 10px;
  text-align: right;
  background-color: #f2f5f8;
}
.header {
  font-size: 40px;
  color: #177e89;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
